.chat {
  height: 100%;
  display: flex;
  background-color: #fff;
  width: 1140px;
  margin: 0 auto;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.04204);

  &__sidebar {
    width: 320px;
    border-right: 1px solid #f7f7f7;
    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 21px;
      height: 58px;
      margin-bottom: 20px;
      border-bottom: 1px solid #f7f7f7;

      .ant-btn-circle {
        border: 0;
        box-shadow: none;
        color: #202020 !important;
        margin-top: 4px;

        &:after {
          display: none;
        }
        svg {
          opacity: 0.5;
          &:hover {
            cursor: pointer;
            opacity: 1;
          }
        }
      }

      & > div {
        span {
          display: inline-block;
          margin-right: 5px;
        }
      }
    }

    &-dialogs {
      height: calc(100% - 90px);
      overflow: auto;
      .dialogs {
        &__item {
          padding: 10px 20px;
          margin-bottom: 0;
          cursor: pointer;
          &.active,
          &:hover {
            background-color: #f3f7ff;
          }
        }
      }
    }
  }

  &__dialog {
    flex: 1;
    position: relative;

    .ant-empty {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &-header {
      padding: 12px;
      border-bottom: 1px solid #f7f7f7;
      align-items: center;
      display: flex;
      justify-content: space-between;

      &-center {
        text-align: center;
      }

      &-username {
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
      }
      .ant-btn-circle {
        border: 0;
        box-shadow: none;
        color: #202020 !important;
        margin-top: 4px;

        &:after {
          display: none;
        }
        svg {
          opacity: 0.5;
          &:hover {
            cursor: pointer;
            opacity: 1;
          }
        }
      }
    }
    &-messages {
      padding: 20px;
      padding-bottom: 0;
      overflow: auto;
      height: calc(100% - 138px);
    }
  }
}
